<!-- Footer area starts -->
<footer class="footer-area">
    <div class="container">

        <div class="address">
            <div class="address-box clearfix">
                <p>1502 N Elm St, Fairmont, MN, 56031, United States</p>
            </div>
            <div class="address-box clearfix">
                <p><a href="tel:015110022">+00 123-456-789</a></p>
            </div>
            <div class="address-box clearfix">
                <p><a href="mailto:Habib.syed2003@gmail.com">Habib.syed2003@gmail.com</a></p>
            </div>
        </div>

        <p class="copyright">&copy; 2022 copyright Habib Syed</p>

    </div>
</footer>
<!-- Footer area ends -->