 <!-- Slider area starts -->
 <section id="slider" class="slider-area">
    <div class="table">
        <div class="table-cell">
            <div class="intro-text">
                <div class="container">
                    <div class="row">

                        <!-- intro image -->
                        <div class="col-md-12">
                            <h2>Habib Syed</h2>
                            <div class="typejs">Student at Ontario Tech University.</div>
                            <div class="clearfix"></div>
                            <a href="#about" class="icon-btn smooth_scroll">
                                <i class="fa fa-angle-double-down"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slider area ends -->

<!-- About area starts -->
<section id="about" class="about-area section-big">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2><span>About</span> Me</h2>
                    <p>Hello there! My name is Habib Syed.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- About Image -->
            <div class="col-md-6">
                <div class="me-image">
                    <img src="assets/img/about/about.jpg" alt="">
                </div>
            </div>

            <!-- About Text -->
            <div class="col-md-6">
                <div class="about-me">
                    <h3>Bio</h3>
                    <p>I'm a second year at Ontario Tech University. I'm currently studying in the Bachelor's of IT
                        program for Networking and IT Security. A few of my hobbies are working out and playing
                        sports. Working out helps me enhance my qualty of life by improving my ability to do
                        everyday activities and releasing a lot of stress I get from school or other matters. I also
                        love to play sports, especially basketball since I'm a pretty tall individual (6 foot 5
                        inches tall) and it's very entertaining. Thank you for visiting my page!</p>
                    <a class="btn dark smooth_scroll" href="#contact">Contact Now</a>
                </div>
            </div>
            
        </div>

    </div>
</section>

<section class="about-area section-big">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h3>Interstellar is my favorite movie. Watch this short edit!</h3>
                </div>
            </div>
        </div>

        <div class="row d-flex">
            <div class="col-md-8">
                <iframe width="100%" height="550" src="https://www.youtube.com/embed/Y5I9JKbltRk?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</section>
<!-- About area ends -->

<!-- Work area starts -->
<section id="work" class="works section-big">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2><span>My</span> Project</h2>
                    <p>Here are some professional pictures I have took in my Photography class in Grade 12 (Highschool)</p>
                </div>
            </div>
        </div>

        <div class="row">
        <div class="portfolio">
            <div class="row work-items">

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix web">
                    <div class="item">
                        <a href="assets/img/works/1.jpg" class="work-popup">
                            <img src="assets/img/works/1.jpg" alt="">
                            <div class="overlay">
                                <span class="icon-focus"></span>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix graphic">
                    <div class="item">
                        <a href="assets/img/works/2.png" class="work-popup">
                            <img src="assets/img/works/2.png" alt="">
                            <div class="overlay">
                                <span class="icon-focus"></span>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix typography web">
                    <div class="item">
                        <a href="assets/img/works/3.jpg" class="work-popup">
                            <img src="assets/img/works/3.jpg" alt="">
                            <div class="overlay">
                                <span class="icon-focus"></span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- Work area ends -->

<!-- Contact area starts -->
<section id="contact" class="contact-area section-big">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2><span>Contact</span> Me</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">

                <!-- Contact form starts -->
                <div class="contact-form">

                    <form id="ajax-contact" action="https://coderspoint.net/html/profil/assets/mailer.php"
                        method="post">
                        <div class="form-group in_name">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Name"
                                required="required">
                        </div>
                        <div class="form-group in_email">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email"
                                required="required">
                        </div>
                        <div class="form-group in_message">
                            <textarea rows="5" name="message" class="form-control" id="message"
                                placeholder="Message" required="required"></textarea>
                        </div>
                        <div class="actions">
                            <input type="submit" value="Send Message" name="submit" id="submitButton" class="btn"
                                title="Submit Your Message!">
                        </div>
                    </form>

                    <!-- Submition status -->
                    <div id="form-messages"></div>

                </div>
                <!-- Contact form ends-->
            </div>

        </div>

    </div>
</section>
<!-- Contact area ends -->